.react-datepicker{

  .react-datepicker__year--container{

    .react-datepicker__year{

      .react-datepicker__year-wrapper{
        

        .react-datepicker__year-text{
          flex: 0 0 calc(25%);
          width: auto;
          margin: 0;
        }
      }
    }
  }
}